#procon-status
{
    cursor: pointer;
}

prefpane > .content-box
{
    overflow: visible;
}

caption
{
    font-weight: bold;
}

/* toolbar button */
#procon-toolbar-button
{
    list-style-image: url("chrome://procon/skin/images/noun_project_482_red-medium.png");
}

toolbar[iconsize="small"] #procon-toolbar-button
{
    list-style-image: url("chrome://procon/skin/images/noun_project_482_red-small.png");
}
